* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --maiColor:red;
    --mainBorderRadius:10px;
}

ul, ol {
    list-style: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


.list {
    display: flex;
    justify-content: space-evenly;
   
}

.item {
    width: 300px;
    height: 200px;
    background-color:var(--maiColor);
    border-radius: var(--mainBorderRadius);
    
}